<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortener Microservice</title>
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <h2>User Stories</h2>
    <p>I can pass a URL as a parameter and I will receive a
      shortened URL in the JSON response.</p>
    <p>If I pass an invalid URL that doesn't follow the
      valid http://www.example.com format, the JSON response will
      contain an error instead.</p>
    <p>When I visit that shortened URL, it will redirect me
      to my original link.</p>
    <h2>Example usage</h2>
    <p>Add a new url to shorten as a parameter:
      <code>http://smlr-url.herokuapp.com/new/http://freecodecamp.com</code>
    </p>
    <p>The output looks like this:<pre><code>  {
    originalUrl: "http://freecodecamp.com",
    shortUrl: "http://smlr-url.herokuapp.com/nTKY"
  }</code></pre></p>
  </body>
</html>
